@forward './base/allcss.scss';
body {
  background-color: rgb(207, 233, 233);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  width: 800px;
  height: fit-content;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:40px;
  border-radius: 40px;

  .calculator-section {
    flex: 1;
    padding: 30px;
    width: 400px;

    .calculator-title {
      display: flex;
      justify-content: space-between;
      margin: 40px 0;
    }
    .flex {
      display: flex;
      margin: 10px 0;
      height: 40px;
      input{
        outline: none;
        
      }

      button:nth-child(1){
        border-right: none;
       
      }
      input:nth-child(2) {
        border-left: none;
      }

      button:nth-child(2) {
        border-left: none;
        padding: 10px;
      }
      input:nth-child(1) {
        border-right: none;
      }
      button{
        background-color: aquamarine;
      }
      
    }

  }
  #flex-xs{
    display: flex;
    justify-items: center;
    align-items: center;
    width: 200px;
  }
  .jakat-option{
    button{
      display: block;
      width: 100%;
      text-align: left;
      padding: 10px 30px;
      margin: 20px 0;
    }
  }

}
.result-section{
  flex: 1;
}